<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="linear.com.projectpertama">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LinearLayout" />
        <activity
            android:name=".ClassKeDua"
            android:label="@string/title_activity_class_ke_dua" />
        <activity
            android:name=".RelativeLayoutSederhana"
            android:label="@string/title_activity_relative_layout_sederhana" />
        <activity
            android:name=".LayoutTable"
            android:label="@string/title_activity_layout_table" />
        <activity
            android:name=".GambarAndroid"
            android:label="@string/title_activity_gambar_android" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutocompleteSederhana"
            android:label="@string/title_activity_autocomplete_sederhana" />
        <activity
            android:name=".KotakDialog"
            android:label="@string/title_activity_kotak_dialog" />
        <activity
            android:name=".CallActivity"
            android:label="@string/title_activity_call" />
        <activity
            android:name=".CallActivity2"
            android:label="@string/title_activity_call2" />
        <activity
            android:name=".Picker"
            android:label="@string/title_activity_picker" />
        <activity
            android:name=".checkBox"
            android:label="@string/title_activity_check_box" />
        <activity
            android:name=".RadioButton"
            android:label="@string/title_activity_radio_button"></activity>
    </application>

</manifest>